body {
  background: black;
  color: #bbbbbb;
  font-family: "DejaVu Sans Mono", Menlo, "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
}
pre {
  color: #bbbbbb;
}
input[name="post"] {
  border: none;
  background: transparent;
  color: #bbbbbb;
  outline none;
  -webkit-appearance: textfield;
}
.postItem {
  font-size: 75%
  p {
    margin 0;
    line-height 1.2;
    width: 188px
  }
  .postInfo {
    align-self start
  }
}
